

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    font-family: 'Open Sans', sans-serif;


}
body{
    font-family: serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 14px;
    overflow-x: hidden;
    background-image: url(/assets/images/currencies.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    
}

.navbar {
    opacity: 0.9;

}

.navbar > .container-fluid > span > img {
    margin-right: 10px;
}

.nav-link  {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;

}

.nav-link:hover {
    background-color: dodgerblue;
    border-radius: 5px;
    text-decoration: none;
    
}

/* Arrow */
.arrow-down {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 1;
    cursor: pointer;
}
.arrow-down span {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
    cursor: pointer;

    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    cursor: pointer;

    animation-delay: -0.4s;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

section {
    display: grid;
    grid-template-columns: repeat(6fr);
}


section > img {
    width: 100%;
    height: auto;
    display: flex;
    
    margin: 0 auto;
    margin-top: 10px;
}


main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    margin: 30px;
    padding: 50px;
}

#coins {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));   
    grid-gap: 10px;
    justify-content: center;
    align-items: center;


}


.card {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    opacity: 0.9;
    border: 1px solid #fff;
}

.card:hover {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    

}


.card-body > h4 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
}

.card-body > p {
    font-size: 1.1rem;
    font-weight: 400;
}

.img-fluid{
    width: 35%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn-primary {
    background-color:dodgerblue;
    border-color: #00bcd4;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
}

.btn-primary:hover {
    background-color: #00bcd4;
    border-color: #00acc1;
    color: #fff;
    transform: translateY(-5px);
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
}


/* Loader */
.main {
    position: relative;
    min-height: 20vh;
  }
  
  #container__loader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
 
  
  .loader {
    height: 4px;
    background-color: #eee;
    width: 100%;
    margin-top: 30px;
    border-radius: 100px;
    position: relative;
    overflow-x: hidden;
  }
  
  .loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #0976B5;
    animation: loading 1.5s infinite;
  }
  
  @keyframes loading {
    0% {
      left: -30%;
    } 50% {
      left: 80%;
    } 100% {
      left: -30%;
    }
  }

  /* Input Chekbox switch */
  .form-check .form-check-input {
      cursor: pointer
  }



  /* About Page */